.info {
    display: flex;
    gap: 10px;
}

.grid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(90px, 200px));
    grid-template-rows: 1fr;
    justify-content: center;
}

.box {
    align-items: center;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    justify-items: center;
    border-left: solid var(--grayscale-light) 1px;
}

.grid .box:first-child {
    border-left: none;
}