.title {
    margin: auto;
    position: relative;
    width: 90%;
    z-index: 1;
}

.pokeball {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-top: -5%;
    opacity: 0.3;
}