.container {
    background-color: var(--grayscale-white);
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
    gap: 25px;
    justify-content: center;
    margin-top: 50px;
    padding: 40px 20px;
}